[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages.intrinsic_rewards]
editable = true
path = '.'

[packages]
torch = "==1.3.1"
# rainy = "==0.5.3"
rainy = { editable = true, path = "../Rainy" }
rogue-gym = "==0.0.2"

[dev-packages]
pytest = "==3.10.1"
