[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages.intrinsic_rewards]
editable = true
path = '.'

[packages.rainy]
version = "==0.3.0"
# editable = true
# git = 'https://github.com/kngwyu/Rainy.git'

[packages]
torch = "==1.1.0"

[dev-packages]
pytest = "==3.10.1"
