[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages.intrinsic_rewards]
editable = true
path = '.'

[packages]
torch = "==1.4.0"
rainy = "==0.7.0"
rogue-gym = "==0.0.2"

[dev-packages]
pytest = "==3.10.1"
